h1 {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("./images/equador.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
  text-align: center;
  padding: 250px 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
button {
  padding: 20px 30px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: black;
}
p {
  text-align: center;
}

/* footer */
footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("./images/equador-night.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}
footer h3 {
  font-weight: bold;
}
.card {
  background: white;
  margin: 30px 0;
}
.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.img-responsive {
  max-width: 100%;
}

.card-header.grid {
  grid-gap: 0;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 40px 0;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }
}
